{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Round {{ subsession.round_number }} &ndash; Your Proposal
{% endblock %}

{% block content %}
    <p> You are <font color="red"><b>Member {{ player.id_in_group }}</b></font>.</p>

    <br>
    <p>Your group must decide how to allocate {{ group.budget }} tokens among its members.</p>
    <p>Make your provisional allocation proposal:</p>
    <table cellpadding="12" cellspacing="12">
        <tr>
            <td align="center"valign="center">Member 1</td>
            <td align="center"valign="center">Member 2</td>
            <td align="center"valign="center">Member 3</td>
        </tr>
        <tr>
            <td>{% formfield player.offer_to_1 label=''%}</td>
            <td>{% formfield player.offer_to_2 label=''%}</td>
            <td>{% formfield player.offer_to_3 label=''%}</td>
        </tr>
    </table>

<br>

    {% next_button %}

{% endblock %}

{% block styles %}
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 400px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}
</style>
{% endblock %}