{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Round {{ subsession.round_number }} &ndash; Your Vote
{% endblock %}

{% block content %}
    <p> You are <font color="red"><b>Member {{ player.id_in_group }}</b></font>.</p>

    <p>The proposer in this Round was Member {{ group.proposer }}.</p>

    <p>This is the allocation proposed by the proposer:</p>
    <table cellpadding="12" cellspacing="12">
        <tr>
            <td align="center"valign="center">Member 1</td>
            <td align="center"valign="center">Member 2</td>
            <td align="center"valign="center">Member 3</td>
            <td align="center"valign="center">Member 4</td>
            <td align="center"valign="center">Member 5</td>
        </tr>
        <tr>
            <td>{{ group.chosen_offer_to_1 }}</td>
            <td>{{ group.chosen_offer_to_2 }}</td>
            <td>{{ group.chosen_offer_to_3 }}</td>
            <td>{{ group.chosen_offer_to_4 }}</td>
            <td>{{ group.chosen_offer_to_5 }}</td>
        </tr>
    </table>
    <br>

    {% formfields %}

    {% next_button %}

{% endblock %}

{% block styles %}
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 400px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}
</style>
{% endblock %}